# file for Python dependencies
# python -m venv venv311
# venv\Scripts\activate
# pip install -r requirements.txt
torch
transformers
datasets
peft
accelerate
sentencepiece
safetensors
huggingface_hub

